.panel-title-condition {
    background-color: #D9DADB;
}

select {
    height: 45px;
    width: 90px;
}

.example-form {
    min-width: 300px;
    font-size: 12px;
}

.example-full-width {
    width: 100%;
}

.mat-option {
    height: 32px;
    font-size: 12px;
}