<div class="container" style="margin-bottom: 20px">
  <div style="margin-top: 10px">
    <div class="row">
      <div class="col-sm-12">
        <toggle-button ToggleText="Monitoring enabled" [selected]="monitoringEnabled"
          (selectedChange)="monitoringEnabled = $event;checkForChanges()">
        </toggle-button>
      </div>
    </div>
    <div [hidden]="!monitoringEnabled" style="margin-top: 30px">
      <fab-pivot [styles]="pivotStyle">
        <fab-pivot-item [headerText]="'Diagnostics mode'">
          <cpu-monitoring-rule #diagnosticRuleRef [siteToBeDiagnosed]="siteToBeDiagnosed" [blobSasUri]="blobSasUri"
            [ruleType]="RuleType.Diagnostics" (monitoringConfigurationChange)="updateConfiguration($event)"
            (savingMonitoringConfiguration)="savingConfiguration($event)"
            (monitoringConfigurationChange)="updateMonitoringEnabled($event)"
            (editModeChange)="updateEditMode($event)"></cpu-monitoring-rule>
        </fab-pivot-item>
        <fab-pivot-item [headerText]="'Always-On mode'">
          <cpu-monitoring-rule #alwaysonRuleRef [siteToBeDiagnosed]="siteToBeDiagnosed" [blobSasUri]="blobSasUri"
            [ruleType]="RuleType.AlwaysOn" (monitoringConfigurationChange)="updateConfiguration($event)"
            (savingMonitoringConfiguration)="savingConfiguration($event)"
            (monitoringConfigurationChange)="updateMonitoringEnabled($event)"
            (editModeChange)="updateEditMode($event)"></cpu-monitoring-rule>
        </fab-pivot-item>
      </fab-pivot>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-sm-6">
      <button [disabled]="savingSettings || !editMode " class="btn btn-primary btn-sm"
        (click)="saveCpuMonitoring()">Save</button>
      <button [disabled]="savingSettings" *ngIf="editMode  && monitoringEnabled" class="btn btn-primary btn-sm"
        (click)="cancelChanges()">Cancel</button>
    </div>
  </div>

  <div class="row" style="margin-top: 10px" *ngIf="savingSettings">
    <div class="col-sm-6">
      <i class="fa fa-circle-o-notch fa-spin spin-icon" aria-hidden="true"></i>
      Saving monitoring settings...
    </div>
  </div>

  <div class="row" style="margin-top: 10px" *ngIf="error">
    <div class="col-sm-6">
      <div class="focus-box focus-box-warning" *ngIf="error">
        <strong>Error</strong> - {{ error }}
      </div>
    </div>
  </div>
</div>