<aside class="main-sidebar">
  <section class="sidebar" id="sidebar">
    <collapsible-menu theme="light">
      <search-box tabindex="0" (searchValueChange)="updateSearch($event)" [searchValue]="searchValue"
        [ariaLabel]="searchAriaLabel"></search-box>
      <menu-scroll>
        <section-divider [label]="'Overview'" [selected]="isSectionHeaderSelected('')" [initiallyExpanded]="false"
          [collapsible]="false" (click)="navigateToOverview()" (keyup.enter)="navigateToOverview()">
          <i class="fa fa-info fa-fw menu-icon menu-icon-create" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let item of overview" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'Pinned Detectors'"
          [selected]="isSectionHeaderSelected('detectors/', false) || isSectionHeaderSelected('analysis/', false)"
          [initiallyExpanded]="favoriteDetectorsCopy.length > 0">
          <i class="fa fa-thumb-tack fa-fw menu-icon menu-icon-detectors" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let item of favoriteDetectors" [menuItem]="item" [searchValue]="searchValue">
          </collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'Detectors'"
          [selected]="isSectionHeaderSelected('alldetectors') || isSectionHeaderSelected('detectors/', false) || isSectionHeaderSelected('analysis/', false)">
          <i class="fa fa-stethoscope fa-fw menu-icon menu-icon-detectors" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let category of categories" [menuItem]="category" [searchValue]="searchValue">
          </collapsible-menu-item>
          <i *ngIf="!categoriesCopy || categoriesCopy.length === 0"
            class="fa fa-spinner fa-spin fa-3x fa-fw loading-menu"></i>
        </section-divider>
        <section-divider [label]="'Develop'"
          [selected]="isSectionHeaderSelected('users', false) || isSectionHeaderSelected('create') || isSectionHeaderSelected('creategist')"
          [initiallyExpanded]="false" [disableExpandIcon]="false">
          <i class="fa fa-code fa-fw menu-icon menu-icon-create" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let item of createNew" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider [label]="'Pull Requests'" [selected]="isSectionHeaderSelected('activepullrequests', false)"
          [initiallyExpanded]="false" [collapsible]="false" *ngIf="!isProd && isGraduation"
          (click)="navigateToActivePRs()">
          <i class="fa fa-code-fork menu-icon menu-icon-detectors" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let item of activePullRequest" [menuItem]="item"></collapsible-menu-item>
        </section-divider>
        <section-divider *ngIf="gists.length > 0" [selected]="isSectionHeaderSelected('gists/', false)"
          [label]="'Gists'" [initiallyExpanded]="false">
          <i class="fa fa-file-code-o fa-fw menu-icon menu-icon-gists" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let gist of gists" [searchValue]="searchValue" [menuItem]="gist">
          </collapsible-menu-item>
          <i *ngIf="!gistsCopy || gistsCopy.length === 0" class="fa fa-spinner fa-spin fa-3x fa-fw loading-menu"></i>
        </section-divider>
        <section-divider [label]="'Configuration'" [selected]="isSectionHeaderSelected('kustoconfig')"
          [initiallyExpanded]="false">
          <i class="fa fa-wrench fa-fw menu-icon menu-icon-detectors" aria-hidden="true"></i>
          <collapsible-menu-item *ngFor="let setting of configuration" [menuItem]="setting"></collapsible-menu-item>
        </section-divider>
      </menu-scroll>
    </collapsible-menu>
  </section>
</aside>