.panel-heading {
    cursor: pointer;
    background-color: var(--bodyBackground);
    color: var(--bodyText);
}

.healthy-icon-color {
    color: #488b00
}

.panel-body {
  background-color: var(--bodyBackground);
}

.connstr-text {
  overflow-wrap: break-word;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.fixed-table {
  table-layout:fixed
}
