<fabric-feedback></fabric-feedback>
<applens-header></applens-header>
<side-nav></side-nav>
<!-- <l1-side-nav></l1-side-nav> -->
<!-- <header class="main-header">
  <nav class="navbar navbar-fixed-top" role="navigation">
    <a (click)="reloadHome()" class="logo">
      <span class="logo-lg">
        <span class="app-title">App</span>Lens
      </span>
    </a>
    <ul *ngIf="showUserInformation" class="nav navbar-nav navbar-right">
      <li class="user-label">
        <span *ngIf="userName">Hello, {{userName}}</span>
      </li>
      <li>
        <img *ngIf="userPhotoSource != undefined && userPhotoSource !== ''" id="userPhoto" [src]="userPhotoSource"
          class="avatar" alt="User Profile Photo" (click)="navigateToUserPage()" />
        <ngx-avatar *ngIf="displayName != undefined && displayName !== '' && userPhotoSource === ''"
          class="avatar avatar-initial" [round]="false" [name]=displayName initialsSize="2"
          (click)="navigateToUserPage()"></ngx-avatar>
        <div *ngIf="userPhotoSource == undefined" class="loading-element">
          <span class="fa-li fa fa-spinner fa-spin fa-2x photo-loading"></span>
        </div>
      </li>
    </ul>
    <div *ngIf="_searchService.searchIsEnabled && !_searchService.resourceHomeOpen" class="search-box">
      <i class="fa fa-search search-icon"></i>
      <input placeholder="Describe your problem and hit enter" class="search-input"
        [(ngModel)]="_searchService.searchTerm" (keyup.enter)="triggerSearch()">
      <span class="icon-err"
        [style.display]="_searchService.searchTerm?.trim().length>0 && _searchService.searchTerm?.trim().length<4? '': 'none'"
        title="At least 4 characters">
        <i class="fa fa-exclamation"></i>
      </span>
    </div>
  </nav>
</header> -->
<div class="dashboard-container content-under-header" [ngStyle]="getContainerStyle()">
  <div class="dashboard-content">
    <applens-preview-banner></applens-preview-banner>
    <comm-alert></comm-alert>
    <div style="margin-left: 12px;">
      <fab-breadcrumb [items]="breadcrumbItems" [styles]="breadcrumbStyles" [tooltipHostProps]="breadcrumbTooltipHostProps"></fab-breadcrumb>
    </div>
    <div *ngIf="title && title.length > 0" class="dashboard-title">
      {{title}}
    </div>
    <div [class.content-with-side-nav]="showL2SideNav" style="padding: 0px 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<fab-panel [isOpen]="_applensGlobal.openResourceInfoPanel" [type]="type" [customWidth]="width" [isHiddenOnDismiss]="true"
[styles]="panelStyles" [isLightDismiss]="true" [hasCloseButton]="true" [closeButtonAriaLabel]="'close'"
(onDismiss)="dismissedHandler()">
<div>
  <div class="resource-content-container">
    <div>
      <div style="margin-bottom: 10px">
        <div
          style="position: absolute; left:25px; right: 32px; top:0px; height: 32px; font-family: 'segoe UI'; font-size: 18px; line-height: 24px; font-weight: 600;display: flex; align-items: flex-end"
          tabindex="0" aria-label="Resource Information">
          Resource Information</div>
      </div>
      <div class="resource-content">
        <div *ngIf="observerLink !== ''">
          <a href="{{observerLink}}" target="_blank">Observer Link
            <i class="fa fa-link" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngFor="let key of keys">
          <b>{{key}}:</b> &nbsp;<div [innerHTML]="resource[key]" style="display:inline"></div>&nbsp;<span *ngIf="resource[key] !== '' && !resource[key].includes('a href')"><img
              src="/assets/img/copy-icon.png" style="height: 12px;background-color:var(--imgButtonBackground);"
              (click)="copyToClipboard(resource[key], $event)" alt="Copy to clipboard" /></span>
        </div>
      </div>
    </div>
  </div>
</div>
</fab-panel>
