.resource-error-container {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    font-size: 24px;
}

.resource-error-message {
    font-weight: 600;
}

.help-link {
    cursor: pointer;
}