.label-radio {
  font-weight: normal;
  margin-left: 3px;
}

.brackets {
  font-size: x-large;
  color: navy;
}

.status-expression {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  color: navy;
}

.code-text {
  font-family: 'Courier New', Courier, monospace;
}