<div [attr.name]="data.name" #canvasContent>
  <div class="panel panel-default">
    <div class="panel-heading panel-title-switch">
      <node-title [data]="data" [disableEdit]="true" [customClass]="'background-gray'"
        [customClassIcon]="'fa-toggle-on'">
      </node-title>
    </div>
    <div class="panel-body">
      <input type="text" [disabled]="!editMode" class="form-control form-control-sm" [(ngModel)]="switchCaseValue"
        name="switchCaseControl">
      <div class="mt-2 mb-2">
        <div *ngIf="editMode">
          <button (click)="save()" class="ml-1 fa fa-save text-primary">
          </button>
          <span *ngIf="error" class="error-message" role="alert">
            {{ error }}
          </span>
        </div>
        <div *ngIf="!editMode">
          <button (click)="editMode = true" class="ml-1 fa fa-pencil text-primary">
          </button>
        </div>
      </div>
      <node-actions [isConditionNode]="true" [isSwitchCase]="true" (onNodeAdded)="addNode($event)"
        (onConditionAdded)="addCondition($event)" (onDeleted)="deleteNode()" [isDisabled]="isDisabled()"
        [isRootNode]="isRootNode()" (onSwitchCaseAdded)="addSwitchCase()">
      </node-actions>
    </div>
  </div>
</div>