@import '../../../../styles/main.scss';

.panel {
    background-color: var(--bodyBackground);
    color: var(--bodyText);
}

a, .link{
    cursor: pointer;
    color: var(--link);

    &:hover{
        color: var(--linkHovered);
    }
}

.body {
    color: var(--bodyText);
}

.panel-body-notab {
    height: calc(100vh - 10px);
}

.panel-body-nopadding {
    padding: 0px;
}
