.error-bar{
    margin-bottom: 15px;
    background:#fde7e9;
    padding:5px;
    display: flex;
    align-items: center;
}

.error-bar-content{
    margin-top: 10px; 
    margin-left:5px;
    display: flex;
}


.error-bar-text{
    margin-left:5px;
}
