<div class="home-banner" *ngIf="showBanner" [ngStyle]="{'background-color': isPreview ? '#d7aced' : '#ffc096'}">
  <ng-container *ngIf="isPreview else oldApplensBanner">
    <i class="ib-purplerocket mr-3"></i>
    <span><a (click)="switchView($event)">Click here</a> to switch back to the old experience. Please email
      applensv2team with any issues you’ve found.</span>
  </ng-container>
</div>

<ng-template #oldApplensBanner>
  <i class="ib-purplerocket mr-3"></i>
  <span><a (click)="switchView($event)">New AppLens experience </a>coming on April 19th, 2022! <a href="mailto:applensdesign@microsoft.com">Contact AppLens Design</a> for your feedback. Old experience will still be available <a href="https://applens-old.azurewebsites.net/">here</a> </span>
</ng-template>
