<div class="home-banner" *ngIf="showBanner">
  <ng-container *ngIf="isPreview else oldApplensBanner">
    <i class="ib-purplerocket mr-3"></i>
    <span>This is the new AppLens secure experience. Read more at <a href="https://applensdiagnostics.azurewebsites.net/?page_id=788" target="_blank">Azure Global Guidelines</a>. Please email
      <a (click)="emailToApplensTeam($event)">AppLens Team</a> with any issues you've found.</span>
  </ng-container>
</div>

<ng-template #oldApplensBanner>
  <i class="ib-purplerocket mr-3"></i>
  <span>AppLens VNext is now in public preview. <a (click)="switchView($event)">Click here</a> to try the new & improved
    experience</span>
</ng-template>
