.info-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.observer-link {
    flex:100%;
    margin-bottom: 8px;
}

.info-item {
    flex:50%;
    margin-top: 6px;
    display: flex;
}

.info-item-key {
    flex: 0 0 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-item-value {
    //flex: 1 0 auto;
    color: #323130;
    flex: 0 0 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info-item-splitter {
    flex: 0 0 15px;
    text-align: center;
}

.info-item-copy {
    flex: 0 0 15px;
    padding: 0px 15px;
}

.observer-link > a:focus {
    border: 1px solid black;
}