<fab-command-bar tabindex="0" contentClass="fab-command-bar-class">
  <items>
    <fab-command-bar-item key="feedback" role="menu" text="Feedback" [iconProps]="{ iconName: 'Emoji2' }" (click)="openFeedback()">
    </fab-command-bar-item>
  </items>
</fab-command-bar>
<collapsible-list-fabric [collapsed]="false" [title]="'Resource Information'">
  <collapsible-list-item body>
    <div class="info-container">
      <table>
        <tbody>
          <tr *ngIf="observerLink !== ''">
            <td>
              <div class="info-item-key">Observer Link</div>
            </td>
            <td>
              <div class="info-item-splitter">:</div>
            </td>
            <td>
              <div class="info-item-value">
                <a href="{{observerLink}}" target="_blank">Observer Link<i class="hyper-link-icon ml-1"
                    aria-hidden="true"></i></a>
              </div>
            </td>
          </tr>
          <tr *ngFor="let keyPair of keyPairs">
            <td>
              <div class="info-item-key">{{keyPair[0]}}</div>
            </td>
            <td>
              <div class="info-item-splitter">:</div>
            </td>
            <td>
              <ng-container [ngTemplateOutlet]="checkUseEmbeddedHTML(resource[keyPair[0]])? embeddedHTML:interpretation"
                [ngTemplateOutletContext]="{data:resource[keyPair[0]]}"></ng-container>
              <div style="display: inline;" *ngIf="keyPair[0] == 'StampName' && stampAppLensLink !== ''" class="info-item-value">
                <a href="{{stampAppLensLink}}" target="_blank">Open in AppLens<i class="hyper-link-icon ml-1"
                    aria-hidden="true"></i></a>
              </div>
            </td>
            <td>
              <div class="info-item-copy">
                <img
                  *ngIf="resource[keyPair[0]] !== null && resource[keyPair[0]] !== undefined  && !checkWithHref(resource[keyPair[0]])"
                  src="/assets/img/copy-icon.png" style="height: 12px; background-color:var(--imgButtonBackground);"
                  (click)="copyToClipboard(resource[keyPair[0]], $event)" alt="Copy to clipboard" />
              </div>
            </td>
            <ng-container *ngIf="keyPair[1] !== ''">
              <td>
                <div class="info-item-key">{{keyPair[1]}}</div>
              </td>
              <td>
                <div class="info-item-splitter">:</div>
              </td>
              <td>
                <ng-container [ngTemplateOutlet]="checkUseEmbeddedHTML(resource[keyPair[1]])? embeddedHTML:interpretation"
                [ngTemplateOutletContext]="{data:resource[keyPair[1]]}">
                </ng-container>
                <div style="display: inline;" *ngIf="keyPair[1] == 'StampName' && stampAppLensLink !== ''" class="info-item-value">
                  <a href="{{stampAppLensLink}}" target="_blank">Open in AppLens<i class="hyper-link-icon ml-1"
                      aria-hidden="true"></i></a>
                </div>
              </td>
              <td>
                <div class="info-item-copy">
                  <img
                    *ngIf="resource[keyPair[1]] !== null && resource[keyPair[1]] !== undefined  && !checkWithHref(resource[keyPair[1]])"
                    src="/assets/img/copy-icon.png" style="height: 12px; background-color:var(--imgButtonBackground);"
                    (click)="copyToClipboard(resource[keyPair[1]], $event)" alt="Copy to clipboard" />
                </div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </collapsible-list-item>
</collapsible-list-fabric>
<collapsible-list-fabric *ngIf="showMetrics" [collapsed]="false" [title]="'Metrics'">
  <collapsible-list-item body>
    <div>
      <detector-container [detector]="_resourceService.overviewPageMetricsId" [hideDetectorControl]="true">
      </detector-container>
    </div>
  </collapsible-list-item>
</collapsible-list-fabric>

<favorite-detectors></favorite-detectors>

<ng-template #interpretation let-data='data'>
  <div class="info-item-value">{{data}}</div>
</ng-template>

<ng-template #embeddedHTML let-data='data'>
  <div class="info-item-value" [innerHTML]="data"></div>
</ng-template>
