<div [id]='rootId' >
    <fab-panel [isOpen]="isOpen" [type]="PanelType.custom" [customWidth]="'60vw'" [isFooterAtBottom]="true"
        [renderFooterContent]='PanelFooter' [headerText]="headerText" (onOpened)="detectorSettingsPanelOnOpened()"
        (onDismiss)="detectorSettingsPanelOnDismiss('Close')" [className]="'settingsPanelComponentClass'">
        <div style="margin: 1em;" class="">
            <div class="row" style="padding: 2px; display: flex; align-items: center;">
                <div class="col-md-4">
                    <fab-text-field [ariaLabel]="'Detector Id'" [styles]="fabTextFieldStyleNoStretch" [label]="'Id'"
                        [required]="true" [getErrorMessage]="getRequiredErrorMessageOnTextField" [(value)]="detectorId"
                        [autoComplete]="'off'" (onChange)="saveButtonDisabledStatus = false"></fab-text-field>
                </div>
                <div class="col-md-4">
                    <fab-dropdown role="combobox" [label]="'Type'" [required]="true" [styles]="fabDropdownStyle"
                        [ariaLabel]="'Type of detector'" [id]="rootId + '_detectorType'" [options]="detectorTypeOptions"
                        (onChange)="onChangeDetectorType($event);saveButtonDisabledStatus = false"></fab-dropdown>
                </div>
                <div class="col-md-4">
                    <div>
                        <div style="width:25%; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
                            <span class="detectorSettingsRequired">Author</span>
                        </div>
                        <div>
                            <fab-people-picker [inputProps]="detectorAuthorPickerInputProps"
                                [pickerSuggestionsOptions]="{noResultsFoundText: 'No suggestions found', loadingText: 'Loading'}"
                                [selectedItems]="detectorAuthorPickerSelectedItems"
                                (onChange)="updateDetectorAuthorSelectedItems($event);saveButtonDisabledStatus = false"
                                [resolveSuggestions]="detectorAuthorPickerSuggestionResolverClosure"
                                [resolveDelay]=500></fab-people-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 2px; display: flex; align-items: center;">
                <div class="col-md-8">
                    <fab-text-field [ariaLabel]="'Description for the detector'"
                        [styles]="fabTextFieldStyleNoStretchWide" [label]="'Description'"
                        [(value)]="detectorDescription" [autoComplete]="'off'" (onChange)="saveButtonDisabledStatus = false"></fab-text-field>
                </div>
                <div class="col-md-4">
                    <div>
                        <div style="width:25%; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
                            <span>Category</span>
                        </div>
                        <div>
                            <fab-tag-picker [inputProps]="detectorCategoryPickerInputProps"
                                [pickerSuggestionsOptions]="{noResultsFoundText: 'No matching category found', loadingText: 'Loading'}"
                                [selectedItems]="detectorCategoryPickerSelectedItems"
                                (onChange)="updateDetectorCategorySelectedItems($event);saveButtonDisabledStatus = false"
                                [resolveSuggestions]="detectorCategoryPickerSuggestionsResolverClosure" [resolveDelay]=500
                                [itemLimit]=1></fab-tag-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isAppService" class="row" style="padding: 2px; display: flex; align-items: center;">
                <div class="col-md-4">
                    <fab-dropdown role="combobox" [label]="'App type'" [required]="true"
                        [ariaLabel]="'App types this detector is applicable to'" [id]="rootId + '_resourceAppType'"
                        [styles]="fabDropdownStyle" [calloutProps]="fabDropdownMultiselectCalloutProps"
                        [errorMessage]="resourceAppTypeRequiredErrorMessage" [multiSelect]=true
                        [defaultSelectedKeys]="resourceAppTypeOptionsDefaultSelectedKeys"
                        [options]="resourceAppTypeOptions" (onChange)="onChangeResourceAppType($event);saveButtonDisabledStatus = false"></fab-dropdown>
                </div>
                <div class="col-md-4">
                    <fab-dropdown role="combobox" [label]="'Platform type'" [required]="true"
                        [ariaLabel]="'Platforms this detector is applicable to'" id="resourcePlatformType"
                        [styles]="fabDropdownStyle" [calloutProps]="fabDropdownMultiselectCalloutProps"
                        [errorMessage]="resourcePlatformTypeRequiredErrorMessage" [multiSelect]=true
                        [defaultSelectedKeys]="resourcePlatformTypeOptionsDefaultSelectedKeys"
                        [options]="resourcePlatformTypeOptions"
                        (onChange)="onChangeResourcePlatformType($event);saveButtonDisabledStatus = false"></fab-dropdown>
                </div>
                <div class="col-md-4">
                    <fab-dropdown role="combobox" [label]="'Stack type'" [required]="true"
                        [ariaLabel]="'Application stacks this detector is applicable to'" id="resourceStackType"
                        [styles]="fabDropdownStyle" [calloutProps]="fabDropdownMultiselectCalloutProps"
                        [errorMessage]="resourceStackTypeRequiredErrorMessage" [multiSelect]=true
                        [defaultSelectedKeys]="resourceStackTypeOptionsDefaultSelectedKeys"
                        [options]="resourceStackTypeOptions"
                        (onChange)="onChangeResourceStackType($event);saveButtonDisabledStatus = false"></fab-dropdown>
                </div>
            </div>
            <div class="row" style="padding: 2px; display: flex; align-items: center;">
                <div class="col-md-3">
                    <fab-checkbox [label]="'Internal only'" [ariaLabel]="'Internal only'"
                        [checked]="getInternalOnlyCheckStatus()" [styles]="fabCheckboxStyle"
                        (checkedChange)="toggleInternalOnlyState($event);saveButtonDisabledStatus = false" [boxSide]="'end'"></fab-checkbox>
                </div>
                <div class="col-md-3">
                    <fab-checkbox [label]="'OnDemand rendering'" [ariaLabel]="'Render UI elements on demand'"
                        [checked]="getOnDemandRenderCheckStatus()" [styles]="fabCheckboxStyle"
                        (checkedChange)="toggleOnDemandRenderState($event);saveButtonDisabledStatus = false" [boxSide]="'end'"></fab-checkbox>
                </div>
                <div class="col-md-2">
                    <fab-checkbox [label]="'Mark private'" [ariaLabel]="'Mark private'"
                        [checked]="getDetectorPrivateCheckStatus()" [styles]="fabCheckboxStyle"
                        (checkedChange)="toggleDetectorPrivateState($event);saveButtonDisabledStatus = false" [boxSide]="'end'"></fab-checkbox>
                </div>
                <div class="col-md-4">
                    <div>
                        <div style="width:25%; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
                            <span>Link to analysis</span>
                        </div>
                        <div>
                            <fab-tag-picker [inputProps]="detectorAnalysisPickerInputProps"
                                [selectedItems]="detectorAnalysisPickerSelectedItems"
                                [pickerSuggestionsOptions]="{noResultsFoundText: 'No matching analysis found', loadingText: 'Loading'}"
                                (onChange)="updateDetectorAnalysisSelectedItems($event);saveButtonDisabledStatus = false"
                                [resolveSuggestions]="detectorAnalysisPickerSuggestionsResolverClosure"
                                [resolveDelay]=500></fab-tag-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 2px; display: flex; align-items: center;">
                <div class="col-md-12">
                    <div>
                        <div style="width:25%; font-weight: 600; padding-top: 5px; padding-bottom: 5px;">
                            <span>Link to support topic</span>
                        </div>
                        <div>
                            <fab-tag-picker [inputProps]="supportTopicPickerInputProps"
                                [selectedItems]="supportTopicPickerSelectedItems"
                                [pickerSuggestionsOptions]="{noResultsFoundText: 'No matching support topic found', loadingText: 'Loading'}"
                                (onChange)="updateSupportTopicSelectedItems($event);saveButtonDisabledStatus = false"
                                [resolveSuggestions]="detectorSupportTopicPickerSuggestionsResolverClosure"
                                [resolveDelay]=500 ></fab-tag-picker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fab-panel>
    <ng-template #PanelFooter>
        <div>
            <hr />
            <fab-primary-button (onClick)="detectorSettingsPanelOnDismiss('Save')" [disabled] = "saveButtonDisabledStatus"
                [contentStyle]="'margin-left:10px;margin-right:10px'">Save</fab-primary-button>
            <fab-default-button (onClick)="detectorSettingsPanelOnDismiss('Cancel')"
                [contentStyle]="'margin-left:10px;margin-right:10px'">Cancel</fab-default-button>
        </div>
    </ng-template>
</div>