* {
  box-sizing: border-box;
}

#canvas {
  height: calc(70%);
  width: calc(100%);
  background-color: var(--bodyBackground);
  color: var(--bodyText);
  flex: 1;
  border: 1px solid darkgray;
}

div#canvas[disabled="true"] {
  opacity: 1;
}

div#canvas[disabled="true"] ::ng-deep.ngflowchart-step-wrapper {
  opacity: 1;
}

.inline-li {
  display: inline-block;
  margin: 0 10px;
}

input,
textarea {
  background-color: var(--bodyBackground);
  color: var(--inputText);
}

.form-group {
  margin-bottom: 10px;
}

::ng-deep .ng-select .ng-select-container , ::ng-deep .ng-select.ng-select-multiple .ng-select-container{
  min-height: 6px;
  font-size: 0.9em;
}