<div class="form-group row" [hidden]="true">
  <button class="btn btn-sm btn-primary ml-2" (click)="showFlowData()">View Json</button>
</div>

<div *ngIf="loadingCode">
  <fab-spinner [label]="'Loading...'"></fab-spinner>
</div>

<div style="height:100%">
  <form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="workflowId">Id</label>
        <input name="workflowId" class="form-control input-sm" placeholder="Workflow Id" [(ngModel)]="publishBody.Id">
      </div>
      <div class="form-group col-md-3">
        <label for="workflowName">Name</label>
        <input class="form-control input-sm" name="workflowName" placeholder="Workflow Name"
          [(ngModel)]="publishBody.WorkflowName">
      </div>
      <div class="form-group col-md-3">
        <label for="description">Description</label>
        <input class="form-control  input-sm" name="description" placeholder="Workflow description"
          [(ngModel)]="publishBody.Description">
      </div>

      <div class="form-group col-md-3">
        <label for="workflowAuthor">Author</label>
        <input class="form-control input-sm" name="workflowAuthor" placeholder="Enter your alias"
          [(ngModel)]="publishBody.Author">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="internalOnly">Internal Only</label>
        <select name="internalOnly" class="form-control input-sm" [(ngModel)]="publishBody.IsInternal">
          <option [ngValue]="false">false</option>
          <option [ngValue]="true">true</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="category">Category</label>
        <input name="category" class="form-control input-sm" [(ngModel)]="publishBody.Category">
      </div>
    </div>

    <div class="form-row" *ngIf="!publishBody.IsInternal">
      <div class="form-group col-md-12">
        <label for="internalOnly">Support Topics</label>
        <table class="table table-bordered table-condensed" style="margin-bottom: 0px;">
          <thead>
            <tr>
              <th class="header-column">Id</th>
              <th class="header-column">PesId</th>
              <th class="header-column">SapSupportTopicId</th>
              <th class="header-column">SapProductId</th>
              <th class="control-column">
                <button class="btn btn-sm ml" (click)="addingSupportTopic = true">
                  <i class="fa fa-lg  fa-plus text-success"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let st of publishBody.SupportTopicList">
              <ng-container *ngIf="!st.Editing">
                <td>{{ st.Id}}</td>
                <td>{{ st.PesId }}</td>
                <td>{{ st.SapSupportTopicId }}</td>
                <td>{{ st.SapProductId }}</td>
                <td>
                  <button class="btn btn-sm ml-1" (click)="editSupportTopic(st.Id)">
                    <i class="fa fa-lg fa-pencil text-primary"></i>
                  </button>
                  <button class="btn btn-sm ml-1" (click)="deleteSupportTopic(st.Id)">
                    <i class="fa fa-lg fa-trash text-danger"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="st.Editing">
                <td><input class="form-control" placeholder="Support Topic Id" type="text" name="txtEditId"
                    [(ngModel)]="editST.Id" /></td>
                <td><input class="form-control" placeholder="Pes Id" type="text" name="txtEditPesId"
                    [(ngModel)]="editST.PesId" /></td>
                <td><input class="form-control" placeholder="Sap Support Topic Id" type="text" name="txtEditSapId"
                    [(ngModel)]="editST.SapSupportTopicId" />
                </td>
                <td><input class="form-control" placeholder="Sap Product Id" type="text" name="txtEditSapProductId"
                    [(ngModel)]="editST.SapProductId" />
                </td>
                <td><button class="btn btn-sm" (click)="saveSupportTopic(st.Id)">
                    <i class="fa fa-lg fa-floppy-o text-primary"></i>
                  </button>
                  <button class="btn btn-sm" (click)="cancelSupportTopicEdit(st.Id)">
                    <i class="fa fa-lg fa-times-circle text-primary"></i>
                  </button>
                </td>
              </ng-container>
            </tr>
            <tr *ngIf="addingSupportTopic">
              <td><input class="form-control" placeholder="Support Topic Id" type="text" name="txtId"
                  [(ngModel)]="newSupportTopic.Id" /></td>
              <td><input class="form-control" placeholder="Pes Id" type="text" name="txtPesId"
                  [(ngModel)]="newSupportTopic.PesId" /></td>
              <td><input class="form-control" placeholder="Sap Support Topic Id" type="text" name="txtSapId"
                  [(ngModel)]="newSupportTopic.SapSupportTopicId" /></td>
              <td><input class="form-control" placeholder="Sap Product Id" type="text" name="txtSapProductId"
                  [(ngModel)]="newSupportTopic.SapProductId" /></td>
              <td><button class="btn btn-sm" (click)="addSupportTopic()">
                  <i class="fa fa-lg fa-floppy-o text-primary"></i>
                </button>
                <button class="btn btn-sm" (click)="addingSupportTopic = false">
                  <i class="fa fa-lg fa-times-circle text-primary"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-row">
      <ng-container *ngIf="service === 'SiteService'">
        <div class="form-group col-md-3">
          <label for="appType">App Type</label>
          <ng-select #selectAppType [items]="appTypes" [multiple]="true" (change)="onAppTypeChange($event)"
            placeholder="Select App type">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label for="platformType">Platform Type</label>
          <ng-select #selectPlatformType [items]="platformTypes" [multiple]="true"
            (change)="onPlatformTypeChange($event)" placeholder="Select Platform type">
          </ng-select>
        </div>
        <div class="form-group col-md-3">
          <label for="stackType">Stack Type</label>
          <ng-select #selectStackType [items]="stackTypes" [multiple]="true" (change)="onStackTypeChange($event)"
            placeholder="Select Stack type">
          </ng-select>
        </div>
      </ng-container>
    </div>
  </form>

  <div #canvasId id="canvas" ngFlowchartCanvas [ngFlowchartOptions]="options" [disabled]="disabled"
    [ngFlowchartCallbacks]="callbacks"></div>
</div>