<div class="main-container">
    <div class="top-banner">
      <div class="banner-text"><span style="color:#ffb353;">App</span>Lens Incident Assistance</div>
    </div>
    <div *ngIf="alternateContent!=null" class="row main-row" style="margin-left:25px;">
      {{alternateContent}}
    </div>
    <div *ngIf="!alternateContent" class="row main-row">
      <div>
        <div *ngIf="displayLoader" class="loader-block">
          <i class="fa fa-spinner fa-spin loader-icon"></i>
          <span style="display: block;" class="loader-text" *ngIf="loaderMessage != null">{{loaderMessage}}</span>
        </div>
        <div class="card-box" style="width:64%" *ngIf="!pageLoading && fabDropdownOptions && fabDropdownOptions.length>0">
          <label for="select-icm-team-dropdown">
            Select a Team <span class="required">*</span>
          </label>
          <fab-dropdown id="select-icm-team-dropdown" [options]="fabDropdownOptions" [selectedKey]="selectedTeamId"
              (onChange)="selectDropdownKey($event)" [styles]="fabDropdownStyles" [ariaLabel]="'ICM Team'">
            </fab-dropdown>
        </div>
        <div class="card-box" style="width:64%" *ngIf="!pageLoading && selectedTeam">
          <div class="box-header with-border">
            <h3 class="box-title">Team: {{selectedTeam.teamName}} &nbsp; IncidentType: {{selectedTeam.incidentType}}</h3>
          </div>

          <div style="max-height: calc(100vh - 140px);" *ngIf="!displayLoader && selectedTeam && !(templateLoadError && templateLoadError.length>0)">
            <div class="form-group form-content">
              <div class="form-row">
                <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="teamTemplate" style="height:600px">
                </ngx-monaco-editor>
              </div>
            </div>
            <div class="form-group go-form">
              <fab-primary-button id="test-template-button" contentStyle="margin-top: 20px; margin-left: 10px;"
                  type="Submit" text='Test Template' (click)="onTestClick()" [disabled]="testButtonDisabled">
              </fab-primary-button>
            </div>
            <div class="form-group go-form">
              <fab-primary-button id="update-template-button" contentStyle="margin-top: 20px; margin-left: 10px;"
                  type="Submit" text='Update Template' (click)="onUpdateClick()" [disabled]="updateButtonDisabled">
              </fab-primary-button>
            </div>
            <div *ngIf="footerMessage!=null" [class.success-message]="footerMessageType=='success'" [class.failed-message]="footerMessageType=='error'">
              {{footerMessage}}
            </div>
          </div>
          <div *ngIf="!displayLoader && templateLoadError && templateLoadError.length>0" class="error-message">
            {{templateLoadError}}
          </div>
        </div>
        <fab-panel [isOpen]="showTestBlade" (onDismiss)="hideTestBlade()" [type]="panelType" [isBlocking]="false" [customWidth]="'60vw'">
          <div class="panel-padding">
            <div class="section" style="margin-left: 10px;">
              <div>
                <label for="test-incident-input-field">
                  Incident Id <span class="required">*</span>
                </label>
                <fab-text-field id="test-incident-input-field" [ariaLabel]="'Incident Id'" [(value)]="testIncidentId" [styles]="narrowTextFieldStyles"
                  [placeholder]="'Type an incident id'">
                </fab-text-field>
                <div *ngIf="testIncidentError && testIncidentError!== ''" class="mt-3 error-message-container">
                  <status-icon [status]="errorButtonStatus"></status-icon><span class="ml-3 error-message">{{testIncidentError}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="teamIncidentsForTest && teamIncidentsForTest.length>0" class="section" style="margin-left: 10px;">
              <div style="width:100%;">
                <span>Here are some incidents on your team that you can use to test</span>
                <table style="margin-top: 6px;">
                  <tr>
                    <th>IncidentId</th>
                    <th>Title</th>
                  </tr>
                  <tr *ngFor="let incident of teamIncidentsForTest">
                    <td>{{incident.incidentId}}</td>
                    <td>{{incident.title}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="section">
              <fab-primary-button id="test-incident-template-button" contentStyle="margin-top: 20px; margin-left: 10px;"
                  type="Submit" text='Test Incident' (click)="onTestIncidentClick()" [disabled]="!(testIncidentId && testIncidentId.length>6 && testIncidentId.length<15)">
              </fab-primary-button>
            </div>
            <div *ngIf="testinIncidentLoader" class="loader-block">
              <i class="fa fa-spinner fa-spin loader-icon"></i>
              <span style="display: block;" class="loader-text" *ngIf="loaderMessage != null">{{loaderMessage}}</span>
            </div>
            <div class="section-wide" *ngIf="validationResponse && validationResponse.action">
              <b>Action:</b> &nbsp; {{validationResponse.action.actionType}} &nbsp; &nbsp;
              <div *ngIf="validationResponse.action && validationResponse.action.actionType=='Transfer'">
                <b>Transfer To:</b> &nbsp; {{validationResponse.action.transferTo.owningService}}/{{validationResponse.action.transferTo.owningTeam}} &nbsp; &nbsp;
              </div>
            </div>
            <div class="section-wide" style="justify-content:space-between;" *ngIf="validationResponse && validationResponse.postMessage && validationResponse.postMessage.length>0">              
              <div [innerHTML]="(validationResponse.postMessage && validationResponse.postMessage.length>0? validationResponse.postMessage: '') | safeHtml"></div>
            </div>
          </div>
        </fab-panel>
      </div>
    </div>
</div>
