<div class="flex-div">
  <div class="node-img" [ngClass]="customClass">
    <div class="center">
      <i class="fa" [ngClass]="customClassIcon"></i>
    </div>
  </div>
  <div class="ml-2 node-title center">
    <span *ngIf="!data.isEditingTitle">{{data.title }}</span>
    <input *ngIf="data.isEditingTitle" type="text" [(ngModel)]="data.title" name="cardTitle">
  </div>

  <ng-container *ngIf="!disableEdit">
    <div class="filler"></div>
    <div class="center">
      <button (click)="data.isEditingTitle = !data.isEditingTitle" class="fa mr-2" [ngClass]="data.isEditingTitle ? 'fa-save' : 'fa-pencil'">
      </button>
    </div>
  </ng-container>

</div>