.favorite-card {
    width: 300px;
    min-height: 100px;
    margin: 0px 5px;
}

.favorite-card:hover {
    cursor: pointer;
}

.favorite-card-header {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
}

.notification-panel-container {
    display: flex;
    align-items: center; 
    font-size: 14px;
}