<div>
  <fab-panel [isOpen]="openPanel" [type]="panelType" [customWidth]="panelWidth" [isHiddenOnDismiss]="true"
    [hasCloseButton]="true" [closeButtonAriaLabel]="'close'" [isBlocking]="false" (onDismiss)="dismissedHandler()"
    [headerText]="'Detector CoPilot'" [isLightDismiss]="true" (onLightDismissClick)="dismissedHandler()">

    <fab-command-bar [attr.id]="'copiliotOptions'" [contentStyle]="'solid gray;font-weight:12px'"
      [contentClass]="'fab-command-bar-class'">
      <items>

        <!--Shekhar : Need to implement this-->
        <fab-command-bar-item key="clearchat" text="Clear chat" [iconProps]="{ iconName: 'clear' }"
          data-track-type="run">
        </fab-command-bar-item>
        <fab-command-bar-item key="settings" text="Settings" [iconProps]="{ iconName: 'settings' }"
          data-track-type="run">
        </fab-command-bar-item>

      </items>
    </fab-command-bar>

    <div style="height:80vh;">
      <openai-chat [customInitialPrompt]="copilotPrompt" [userId]="userAlias" [persistChat]="false"
        [chatAlignment]="'left'" [chatIdentifier]="chatComponentIdentifier" [chatContextLength]="4"
        [chatModel]="chatModel" [chatQuerySamplesFileUri]="'assets/chatConfigs/detectorcopilot.json'"
        [showFeedbackOptions]="true" [showContentDisclaimer]="true"
        [contentDisclaimerMessage]="contentDisclaimerMessage" [quotaEnforced]="true" [dailyMessageQuota]="20"
        [messageQuotaWarningThreshold]="10" [chatHeader]="chatHeader" [responseTokenSize]="200"
        [systemPhotoSource]="'/assets/img/openailogo.svg'" [preprocessUserMessage]="onUserMessageSend"
        [postProcessSystemMessage]="onSystemMessageReceived" [postPrepareChatContext]="onPrepareChatContext">
      </openai-chat>
    </div>

  </fab-panel>
</div>