// <div class="chatgpt-box-row-container chatgpt-header-container" *ngIf="!_chatContextService.messages || _chatContextService.messages.length==0">
// <h1 class="chatgpt-header-text">AppLens <img src="/assets/img/handshakelogo.png" class="chatgpt-handshake-logo"/> ChatGPT</h1>
// </div>
// <div class="chatgpt-box-row-container chatgpt-samples-container" *ngIf="!_chatContextService.messages || _chatContextService.messages.length==0">
// <div class="chatgpt-box-row">
//     <ng-container *ngFor="let querySample of chatQuerySamples; let i = index">
//       <div class="chatgpt-box" *ngIf="i<=2" (click)="onchatSampleClick(i)" [innerHTML]="chatQuerySamples[i].key"></div>
//     </ng-container>
// </div>
// <div class="chatgpt-box-row">
//   <ng-container *ngFor="let querySample of chatQuerySamples; let i = index">
//     <div class="chatgpt-box" *ngIf="i>=3" (click)="onchatSampleClick(i)" [innerHTML]="chatQuerySamples[i].key"></div>
//   </ng-container>
// </div>
// </div>

.rca-bot-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .chatgpt-handshake-logo{
    width: 50px;
    height: 50px;
  }


.rca-header-container{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%!important;
    margin: 20vh auto!important;
  }

  .rca-header-text{
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.75rem;
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }


  .rca-subtitle-text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.75rem;
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  .rca-body-text{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.75rem;
    text-align: left;
    gap: 0.5rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

  }

  .rca-title-text{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.65rem;
    //line-height: 23px;
    line-height:2.75rem;
    //margin: 5px 3px;
    font-weight: 450;
    color: var(--bodyText);
    gap: 0.5rem;
    margin-top:4rem; 
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }

  .rca-body-container{
    width: 75%;
    margin: auto; 
  }
  
  .rca-box-row-container{
    width: 75%;
    margin: auto;
  }

  .rca-samples-container{
    position: absolute;
    top: 28vh;
  }

  .rca-box-row{
    display: flex;
    width: 100%;
    margin: auto;
    float: left;
    padding: 25px 10px 0px 10px;
  }

  .rca-box{
    border: 0px solid black;
    height: 86px;
    margin: 5px 5px;
    display: inline;
    flex: 1;
    background-color: rgba(247,247,248);
    padding: 1.75rem;
    border-radius: 0.375rem;
  }

  .btn{
    //border: 0.5px solid;
    //border-color: black; 
    background-color: var(--bodyBackground);
    position: relative;
    //display: flex;
    margin:auto;
    float:right; 
    //padding: 25px 10px 0px 10px; 
    //right: 15px;
    //top: 150px; 
  }

  .btn:hover{
   
    background-color: var( --tileHomepageHoverBackground);
    cursor: pointer;
  }

  .btn:focus{
    //border:1px solid black; 
    outline: 1px solid black;
    box-shadow: none;
  }

  .btn-text{
    color:  rgb(37, 108, 207);
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  
  .rca-box2{
    background: var(--bodyBackground);
    border: 1px solid black;
    //border: 0px solid black;
    box-sizing: border-box;
    // box-shadow: 4px 10px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: 86px;
    margin: 5px 5px;
    display: inline;
    flex: 1;
    //background-color: rgba(247,247,248);
    background-color:rgba(244, 243, 243, 0.752);
    padding: 1.75rem;
    //border-radius: 0.375rem;
  }

  .rca-box2:hover {
    background-color: rgba(211, 209, 209, 0.752);
    cursor: pointer;
    box-shadow: rgba(50,50,50,0.5) 0px 2px 2px;
  }


  .empty-box{
    border: 0px solid black;
    height: 86px;
    margin: 5px 5px;
    display: inline;
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 1.75rem;
    border-radius: 0.375rem;
  }
  
.loading-spinner {
  margin-top: 250px;
  font-size: 100px;
}

.rca-template-box-header{

  width: 100%;
  margin: 20vh auto!important;
  text-align: center;

}

.rca-template-box{

  background-color: rgba(247,247,248);
  width: 100%;
  margin: 20vh auto!important;
  text-align: center;

}

.input-box{
    //border: 10px solid black;
    height: 400px;
    width: 100%;
    margin: 5px;
    display: inline;
    flex: 1;
    background-color: rgba(247,247,248);
    padding: 1.75rem;
    border-radius: 0.375rem;
    border-color: black;
}


.rca-result-box{
  //border: 10px solid black;
  border: 1px solid;
  height:400px;
  width:75%;
  overflow:auto;
  padding: 5px;
}

.input-button{
       /* margin-top: 5px; */
  margin-right: 250px;
  height: 30px;
  width: 85px;
  margin-top: 10px;

}

.card-container {
  background: var(--bodyBackground);
  border: 1px solid var(--inputBorder);
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  

  height: 86px;
  margin: 5px 5px;
  display: inline;
  flex: 1;
  background-color: rgba(247,247,248);
  padding: 1.75rem;


}

.card-title{
  font-size: 13px;
  line-height: 15px;
  color: var(--cardViewTitle);
  margin: 3px;
}
.card-description {
  font-size: 13px;
  line-height: 15px;
  margin: 3px;
  color: var(--bodyText);
}

.card-message{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 23px;
  margin: 5px 3px;
  font-weight: 600;
  color: var(--bodyText);
}

.card-icon {
  margin-right: 7px
}