.panel-title-markdown {
    background-color: #DDF0F1;
}

.markdown-editor {
    width: 380px;
}

.markdown-text {
    border: 1px solid lightgray;
    height: 45px;
    padding: 5px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    word-break: break-word;
    overflow: auto;
    border-radius: 4px;
    margin-bottom: 3px;
}