<ng-container *ngIf="false">
<div *ngIf="matchesSearchTerm || alwaysShowItem">
    <div tabindex="0" class="menu-item" (click)="handleClick()" (keyup.enter)="handleClick()">
      <!-- <div class="mr-3" *ngIf=" menuItem.subItems && menuItem.subItems.length > 0">
        <fab-icon [iconName]="iconName"></fab-icon>
      </div> -->
        <fab-tooltip-host [content]="menuItem.label" [directionalHint]="directionalHint">
          <div class="menu-label" [innerHtml]="menuItem.label | searchmatch:searchValueLocal" [attr.aria-label]="menuItem.label" [class.bold]="boldText"></div>
        </fab-tooltip-host>
    </div>
    <!-- <div class="menu-item-children" [@expand]="menuItem.expanded ? 'shown' : 'hidden'">
      <collapsible-menu-item *ngFor="let item of menuItem.subItems" [searchValue]="searchValueLocal" [menuItem]="item" [level]="level + 1" [focusable]="menuItem.expanded"></collapsible-menu-item>
    </div> -->
</div>
</ng-container>


<div *ngIf="matchesSearchTerm" class="menu-item-container" [class.selected]="isSelected()" >
    <div tabindex="0" (keyup.enter)="handleClick()" class="menu-item" (click)="handleClick()"  [style.padding-left]="getPadding()" [style.font-size]="getFontSize()">
        <i class="fa expand-icon" *ngIf=" menuItem.subItems && menuItem.subItems.length > 0" [class.fa-caret-right]="!menuItem.expanded" [class.fa-caret-down]="menuItem.expanded"></i>
        <i class="fa" *ngIf="menuItem.icon" [ngClass]="menuItem.icon"></i>
        <span class="menu-label" [innerHtml]="menuItem.label | searchmatch:searchValueLocal"></span>
    </div>
    <div class="menu-item-children" [@expand]="menuItem.expanded ? 'shown' : 'hidden'">
      <collapsible-menu-item *ngFor="let item of menuItem.subItems" [searchValue]="searchValueLocal" [menuItem]="item" [level]="level + 1"></collapsible-menu-item>
    </div>
</div>
