.menu-item-children {
    overflow-y: hidden;
}

.menu-item {
    cursor: pointer;
    display: flex;
    font-size: 13px;
    font-weight: 400;
}

.expand-icon {
    /* float: right; */
    min-width: 10px;
    font-size: 12px;
}

.menu-label {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 260px;
}

.menu-item {
    color:var(--bodyText);
    padding: 5px 5px 5px 30px;
    font-size: 14px;
}

.menu-item:hover,
.menu-item.selected {
    color:var(--bodyText);
    background-color: var(--bodyBackground);
}

.menu-label > b {
    color: #ffb353;
}

.break-all {
    word-break: break-all;
}

.bold {
    font-weight: 600;
}
