<div *ngIf="isEnabledChecked && isEnabled">
  <openai-chat
    [userId]="userAlias"
    [persistChat]="true"
    [fetchChat]="loadUserChat"
    [saveChat]="saveUserChat"
    [chatAlignment]="'center'"
    [chatIdentifier]="chatComponentIdentifier"
    [chatContextLength]="10"
    [chatQuerySamplesFileUri]="'assets/chatConfigs/applensChatGPT.json'"
    [showFeedbackOptions]="true"
    [showContentDisclaimer]="true"
    [contentDisclaimerMessage]="contentDisclaimerMessage"
    [quotaEnforced]="true"
    [dailyMessageQuota]="20"
    [messageQuotaWarningThreshold]="10"
    [chatHeader]="chatHeader"
    [systemPhotoSource]="'/assets/img/openailogo.svg'"
  >
  </openai-chat>
</div>

<div *ngIf="isEnabledChecked && !isEnabled">
  <div class="chatgpt-bot-container">
    ChatGPT is currently disabled in AppLens. Please check back later.
  </div>
</div>

<div *ngIf="!isEnabledChecked">
  <div class="chatgpt-bot-container">
    Checking ...
  </div>
</div>