<!-- 

<fab-panel [isOpen]="showDevopsStatusMessage" [isLightDismiss]="true" [type]="PanelType.custom" [customWidth]="'400px'" [isHiddenOnDismiss]="true"
[hasCloseButton]="false"  [isBlocking]="false" [styles]="devopsPanelStyles"  (onDismissed)="closeNotification()" (onOpened)="onOpenNotification()">


<div class="d-flex align-items-center pl-5 pr-5">
  One or more detector code deployments are pending or failed. Detector changes will not be reflected until they are complete.
  <a (click)="goToPendingDeployments()"> More details here. 
</a> 
</div>
</fab-panel>   -->
<p>test</p>