@import "styles/common/variables";
@import "styles/controls/buttons";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/vendor/bootstrap-4-utilities.min.css";
@import "styles/icons.scss";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  color: var(--bodyText);
  //Use segoe UI in all components
  font-family: 'Segoe UI' !important;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--linkHovered);
  background-color: (--linkBackgroundHovered);
}

.sub-title {
  color: var(--summaryText);
}

.skin-purple-light .sidebar-menu>li:hover>a,
.skin-purple-light .sidebar-menu>li.active>a {
  background: var(--bodyBackground)
}

.critical-color {
  color: #ff0000;
}

.warning-color {
  color: #ff9104;
}

.success-color {
  color: #3da907;
}

.info-color {
  color: #3a9bc7;
}

.color-ghostwhite {
  color: #e0e0e0;
}

.info-modal {
  max-width: 560px !important;
  padding: 0px !important;
  min-height: 160px !important;
  position: fixed;
}

.wide-modal {
  max-width: 560px !important;
  padding: 0px !important;
  min-height: 160px !important;
}

.package-modal {
  max-width: 100% !important;
  max-height: 90%;
  overflow-y: scroll !important;
  background-color: var(--bodyBackground)!important;
}

.panel.with-nav-tabs .panel-heading.app-nav-bar {
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

.nav>li>a {
  padding: 5px 15px;
}

/********************************************************************/
/*** BOOTSTRAP PRIMARY BUTTON ***/
.btn-primary {
  color: var(--primaryButtonText);
  background-color: var(--primaryButtonBackground);
  border-color: var(--primaryButtonBorder);
}

.btn-primary:hover {
  color: var(-primaryButtonTextHovered);
  background-color: var(--primaryButtonBackgroundHovered);
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs>li>a {
  background-color: var(--bodyBackground);
}

.with-nav-tabs.panel-default .nav-tabs>li>a,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
  color: rgb(49, 49, 49);
}

.with-nav-tabs.panel-default .nav-tabs>.open>a,
.with-nav-tabs.panel-default .nav-tabs>.open>a:hover,
.with-nav-tabs.panel-default .nav-tabs>.open>a:focus,
.with-nav-tabs.panel-default .nav-tabs>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li>a:focus {
  color: rgb(37, 37, 37);
  background-color: var(--bodyBackground);
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.active>a:focus {
  color: rgb(26, 26, 26);
  background-color: var(--bodyBackground);
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu {
  background-color: var(--bodyBackground);
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>li>a:focus {
  background-color: var(--bodyBackground);
}

.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:hover,
.with-nav-tabs.panel-default .nav-tabs>li.dropdown .dropdown-menu>.active>a:focus {
  color: var(--bodyBackground);
  background-color: #555;
}

.cc-modal {
  max-width: 800px;
}

.skin-blue .wrapper {
  background-color: var(--bodyBackground)
}

.publish-dialog {
  min-width: 70vw !important;
  min-height: 70vh !important;
  background-color: var(--bodyBackground)!important;
}

/* highchart container configuration */
.highcharts-container {
  overflow: visible !important;
  width: 100% !important;
}

.highcharts-container svg {
  overflow: visible !important;
  width: 100% !important;
}

highcharts-chart {
  overflow: visible !important;
}

.highcharts-tooltip-container span {
    font-size: "12px";
    font-weight: "normal";
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif!important;
}

fab-command-bar .ms-SearchBox {
  border-width: 0px !important;
}

.ms-CommandBar {
  padding: 0px !important;
}


.ms-Button--commandBar:hover {
  background-color: rgba(85, 179, 255, 0.1) !important;
}

.ms-CommandBar,
.ms-Button--commandBar {
  background-color: var(--bodyBackground) !important;
}

.ms-Button--commandBar:focus {
  border: 1px solid black !important;
}

.fab-command-bar-class {
  // border-bottom: 1px solid #D6D6D6 !important;
  // font-size: 12px !important;
  // padding: 0px !important;
  // margin-top: 16px;
  // height: 34px;
  border-bottom: 1px solid rgb(204, 204, 204) !important;
  font-size: 12px !important;
  height: 40px;
  background-color: var(--bodyBackground) !important;
}

.fab-command-bar-class .ms-CommandBar {
  height: 33px;
}

.content-under-header {
  position: relative;
  top: 50px;
  height: calc(100% - 50px);
}

//Fix for markdown color
code[class*=language-] {
  color: var(--bodyText) !important;
  background-color: var(--bodyBackground) !important;
}

pre {
  background-color: var(--bodyBackground) !important;
  color: var(--bodyText) !important;
}

code[class*=language-]>span.token.operator {
  color: var(--bodyText) !important;
}

code[class*=language-]>span.token.punctuation {
  color: var(--bodyText) !important;
}

//Fix fab-link no focus indicator
button.ms-Link:focus {
  border: 1px solid black !important;
}
