.chat-feedback-panel-footer {    
    flex: 0 0 auto;
    height: 10%;
}

.feedback-panel-divider {
    border-top: 1px solid #C8C6C4;
}

.feedback-submit-button {
    border:solid 1px;
    border-color: var(--bodyText);    
}