<div>
    <fab-panel [isOpen]="isOpen">
        <ng-container >
            <div>
                {{nodeList[0] | json}}
            </div>
            <dynamic-data *ngIf="nodeList.length > 0" [diagnosticData]="nodeList[0].res[0]" [startTime]="startTime" [endTime]="endTime"></dynamic-data>
            {{nodeList.length}}
            <!-- <dynamic-data [diagnosticData]="node.res[0]" [startTime]="startTime" [endTime]="endTime"></dynamic-data> -->
            <ng-template ngFor let-node [ngForOf]="nodeList">
                {{0123}}
            </ng-template>
        </ng-container>
        
        <!-- <div>
            {{nodeList | json}}
        </div> -->
        <fab-primary-button (onClick)="publishDetector()">publish</fab-primary-button>
        <fab-default-button (onClick)="closePanel()">edit</fab-default-button>
    </fab-panel>
</div>